@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Web Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/select2")
    @Styles.Render("~/Content/select2izgled")
    @Styles.Render("~/Content/css/simplebar.css")


    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>@*CDN za simplebar*@
</head>
    <div class="wrapper">
         <img id="pozadina" src="~/Content/img/pozadina.jpg" />
        <img id="404" src="~/Content/img/404.png" style="margin-left: 25%; margin-top:8%;" />
        <br />
        <button class="btn-default btn" style="margin-left: 46%;" onclick="javascript:history.back()">
            Vrati se nazad
        </button>
    </div>
<script src="~/Scripts/umdPopper.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/UI/select2.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/ui")

