@model Projekat.ViewModels.PrikazVestiViewModel
@{
    ViewBag.Title = "PrikaziVest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="sredina" name="sredina" class="sredina-upload-mat">

    <div class="celaVest" id="clVest">
        <h2>@Model.Naslov</h2>
        @if (User.IsInRole("SuperAdministrator") || User.IsInRole("LokalniUrednik"))
        {
            <button type="button" class="btnPostaviGV" data-toggle="modal" data-target="#myModal"><!--<span>slika pin</span>-->POSTAVI KAO GLAVNU VEST </button>
        }
        <br /><br />

        <div class="teloVesti">
            <p class="datPost">Vest postavljena: @Model.DatumPostavljanja</p>
            @Html.Raw(Model.TeloVesti)
        </div>
    </div>
</div>

@if (User.IsInRole("SuperAdministrator") || User.IsInRole("LokalniUrednik"))
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Postavi za glavnu vest</h4>
                </div>
                @using (Html.BeginForm("PostaviGlavnuVest", "Vesti", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <input type="hidden" value="@Model.Naslov" name="naslov" />
                    <input type="hidden" value="@Model.DatumPostavljanja" name="datum" />
                    <div class="modal-body">
                        <p>Datum do kada ce ova vest biti glavna:</p>
                        @Html.TextBox("novDatum", String.Format("{0:d}", Model.DatumPostavljanja.ToShortDateString()),
                  new { @class = "datefield", type = "date" })
                    </div>
                    <div class="modal-footer">
                        <br />
                        <hr />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button> <button type="submit" class="btn btn-success">Postavi glavnu vest</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
<script>
    $(window).resize(function () {
        if ($(window).width() < 500) {
            $("#sredina").removeClass("sredina-upload-mat");
            $("#clVest").removeClass("celaVest");
            $("#clVest").addClass("celaVestResp");
        }
        else {
            $("#sredina").addClass("sredina-upload-mat");
            $("#clVest").addClass("celaVest");
            $("#clVest").removeClass("celaVestResp");
        }

    });
</script>