@using Projekat.ViewModels;
@model  GlobalniZahtevViewModel

<div class="kartica" id=@Model.globalni.zahtevId>
    <div class="karticaTekts">
        <h2>
            @Model.materijal.materijalNaslov
        </h2>

        <p class="opis">
            @Model.globalni.zahtevObrazlozenje
        </p>
        <div class="kontrole">
            <div class="triTackeKontrole" tabindex="1">
                <img src="~/Content/img/tri-tacke.png" alt="jos-opcija">
                <div class="dropdown-sadrzaj">
                    <a class="dropdownOpcija" href="#">Obriši</a>
                    <a class="dropdownOpcija" href="#">Uredi</a>
                    <a class="dropdownOpcija" href="#">Komentariši</a>
                </div>
            </div>
            @if (this.User.IsInRole("GlobalniUrednik") || this.User.IsInRole("LokalniUrednik"))
            {
                <a href="#" class="kontrola-ikonica dugme-delete preuzmi">Odbij</a>
            }

            @if (this.User.IsInRole("GlobalniUrednik") || this.User.IsInRole("LokalniUrednik"))
            {
                @Html.ActionLink("Odobri", "Accept", "Zahtev", new { id = Model.globalni.zahtevId }, new { @class = "kontrola-ikonica dugme-accept preuzmi" })
            }
            <a class="preuzmi" href="@Url.Action("DownloadMaterijal", "Materijal", new { id = Model.materijal.materijalId })">preuzmi</a>
        </div>
    </div>

    @*<select class="js-example-basic-single" name="state" multiple="multiple">
            <option value="AL">Alabama</option>

            <option value="WY">Wyoming</option>
        </select>*@

    <div class="karticaFormat">
        <a href="#">
            <img class="imgPath" src="@Url.Content(Model.materijal.ImgPath)" alt="preuzmi-PDF">
        </a>
    </div>
    @*@Html.HiddenFor(Model => osiromaseni.materijalId, new {@id ="nesto" })*@
</div>