@model Projekat.ViewModels.DodajSmerViewModel
@{
    ViewBag.Title = "DodajSmer";
}

<div id="sredina">
    @using (Html.BeginForm("DodajSmer", "Smer", FormMethod.Post, new { @class = "smerForma", @id = "smerForma" }))
    {
        <h2>Novi smer</h2>
        <label class="matDesignLabel" for="smerNaziv">Naziv smera</label>
        @Html.TextBoxFor(m => m.smerNaziv, new { @name = "smerNaziv" });

        <label class="matDesignLabel" for="smerSkraceno">Skracenica</label>
        @Html.TextBoxFor(m => m.smerSkraceno, new { @id = "korisnikTB" });

        <label class="matDesignLabel" for="smerOpis">Opis</label>
        @Html.TextAreaFor(m => m.smerOpis, new { @name = "smerOpis" });

        if (this.User.IsInRole("SuperAdministrator"))
        {
            <label class="matDesignLabel" for="skole" style=" position:relative;top:-10px;">Skole</label>
            @Html.DropDownListFor(m => m.skolaId, new SelectList(Model.skole, "idSkole", "NazivSkole"), new { @class = "izgledDropdown" })
        }
        else
        {
            @Html.HiddenFor(m => m.skolaId)
        }

        <button type="submit" id="postavi">POSTAVI</button>
    }
</div>

@Scripts.Render("~/bundles/novi_smer")
@Styles.Render("~/Content/css/Smercss/dropdownSmer.css")