@model Projekat.ViewModels.ForumViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="sredina" name="sredina" class="sredina-upload-mat">
    @if ( Model != null)
    {
        <div class="d-flex flex-column">
       
            @foreach (var i in Model.postsModel)
            {
                <div class="p-2 forumSadrzaj">
                    <p><span class="forumSadrzaj2">@i.posttitle</span> <span class="forumSadrzaj3">@i.posteddate</span></p>
                    <p><span class="forumSadrzaj2">@i.postmessage</span><button id="confirmDugme" class="btn-sm btn-info forumDugme confirm" data-id="@i.Id_post">odobri</button></p>
                </div>
            }
        </div>
    }
    else
    {
        <h5>@ViewBag.ErrorMsg</h5>
    }
</div>

    @if (ViewBag.SuccMsg != null)
    {
        <script>
            $(window).on('load', function () {
                $("#modalSucc").modal('show');
            });
        </script>
    }
<script>
    $(".confirm").on('click', function () {
        var msg = confirm("Želite li da odobrite sadržaj?");
        var id = $(this).data('id');

        if (msg) {
            window.location.href = '@Url.Action("OdobravanjeTema2","Forum")/' + id;
        } else {
            $(this).preventDefault();
        }
    });
</script>
<div class="modal fade" id="modalSucc" role="dialog" style="opacity:1; background-color:rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Poruka o uspehu</h4>
            </div>
            <div class="modal-body">
                <h5 class="text-success text-center">@ViewBag.SuccMsg</h5>
            </div>
            <div class="modal-footer">
                <button id="dugmeOtkaz" type="button" class="btn btn-default btn-sekundarni" data-dismiss="modal">Odustani</button>
            </div>
        </div>
    </div>
</div>