@model Projekat.ViewModels.DodajModulViewModel
<div class="dropdown-wrap">
    <label >Skola</label>
    @Html.DropDownListFor(m => m.skolaId, new SelectList(Model.Skole, "IdSkole", "NazivSkole"), new { @class = "skole izgledDropdown", @id = "'" + @Model.skolaId + "'" })
</div>
<div class="dropdown-wrap">
    <label>Smer</label>
    @Html.DropDownListFor(m => m.smerId, new SelectList(Model.SmeroviPoSkolama, "smerId", "smerNaziv"), new { @class = "smerovi izgledDropdown", @id = "'" + @Model.smerId + "'" })
</div>
<div class="dropdown-wrap">
    <label>Predmet</label>
    @Html.DropDownListFor(m => m.modul.predmetId, new SelectList(Model.PredmetPoSmeru, "predmetId", "predmetNaziv"), new { @class = "predmeti izgledDropdown" })
</div>