<div id="sredina">
    @model Projekat.Models.ResetPasswordViewModel
    @{
        ViewBag.Title = "Resetujte svoju lozinku";
    }

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "noviKorisnik", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <h4>Reseujte svoju lozinku</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "matDesignLabel" })

            @Html.TextBoxFor(m => m.Email, new { @class = "korisnikTB" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "matDesignLabel" })

            @Html.PasswordFor(m => m.Password, new { @class = "korisnikTB" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "matDesignLabel" })

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "korisnikTB" })

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />  <br />
                <input type="submit" class="btn btn-default" value="Reset" style="width: 76%; left: 0;" />
                <br />  <br /> <br />

            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
